*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#banner{
    position: relative;
    left: 200px;
    width: calc(100% - 200px);
}

#news{
    position: relative;
    left: 200px;
    width: calc(100% - 200px);
    height: 500px;
    background-color: red;
}